/*div.seatSpot {
  display: inline;
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  margin: 1%;
}*/

/*div.seatNot {
  display: inline;
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  margin: 1%;
}*/

/*
div.seatSpotOne {
  margin-left: 25%;
}*/

/*div.seatStage {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}*/

/** {
  border: 1px solid black;
}*/

div.seatSpotBs {
  margin: 1%;
  width: 50px;
  height: 50px;
}


div#rowA {
  position: relative;
  left: 25%;
}

div#rowB {
  position: relative;
  left: 22%;
}

div#rowC {
  position: relative;
  left: 19%;
}

div#rowD {
  position: relative;
  left: 10%;
}
