a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: grey;
}

body {
  background-color: black;
}

.stage {
  position: relative;
  top: 30px;
  left: 29%;
  opacity:1;
  transition: 1s ease;
}

.stage:hover {
opacity:0.5;
transition: 1s ease;
}

.seatStage {
  position: relative;
  top: 40px;
}

div.header {
  position: relative;
  left: 25%;
}

div.infoForm {
  position: fixed;
  top: 10%;
  left: 5%;
  width: auto;
  border: 1px solid grey;
}

div.mainImg {
  width: 100%;
  height: 100%;
  opacity:0.5;
  transition: 1s ease;
}

.mainImg:hover {
opacity:1;
transition: 1s ease;
}

div.leftImg {
  display: inline;
  position: absolute;
  top: 220px;
  height: 300px;
}

div.rightImg {
  display: inline;
  position: absolute;
  top: 220px;
  left: 500px;
  height: 300px;
}

div.seatSpotBs {
  margin: 1%;
  width: 50px;
  height: 50px;
}

div.spacer {
  height: 50px;
}

div#rowA {
  position: relative;
  left: 36%;
}

div#rowB {
  position: relative;
  left: 33%;
}

div#rowC {
  position: relative;
  left: 30%;
}

div#rowD {
  position: relative;
  left: 21%;
}

form input {
  display: block;
  float: left;
  clear: left;
}

span.copyRight {
  float: right;
  margin-right: 5%;
}

span.contactSpan {
  color: white;
  margin-left: 5%;
  margin-right: 1%;
}

span.contactSpan:hover {
  text-decoration: underline;
}

span.glyphicon {
  margin-left: 1%;
  color: white;
}
span.glyphicon:hover {
  background-color: blue;
}

div.infoForm {
  position: fixed;
  top: 10%;
  left: 5%;
  width: auto;
  border: 1px solid grey;
}

form input {
  display: block;
  float: left;
  clear: left;
}

div.mainImg {
  width: 100%;
  height: 100%;
}

 @-webkit-keyframes swingingLeft {
	0%{-webkit-transform: rotate(10deg);}
	50%{-webkit-transform: rotate(45deg)}
	100%{-webkit-transform: rotate(10deg);}
}

 @keyframes swingingLeft {
	0%{transform: rotate(10deg);}
	50%{transform: rotate(45deg)}
	100%{transform: rotate(10deg);}
}

div.leftImg {
  display: inline;
  position: absolute;
  top: 130px;
  height: 300px;
  -webkit-transform-origin: 50% 154%;
  transform-origin: 50% 154%;
  -webkit-animation: swingingLeft 3.5s ease-in-out forwards infinite;
  animation: swingingLeft 3.5s ease-in-out forwards infinite;

}

@-webkit-keyframes swingingRight {
	0%{-webkit-transform: rotate(-10deg);}
	50%{-webkit-transform: rotate(-45deg)}
	100%{-webkit-transform: rotate(-10deg);}
}

 @keyframes swingingRight {
	0%{transform: rotate(-10deg);}
	50%{transform: rotate(-45deg)}
	100%{transform: rotate(-10deg);}
}

div.rightImg {
  display: inline;
  position: absolute;
  top: 130px;
  left: 820px;
  height: 300px;
 -webkit-transform-origin: 50% 154%;
 transform-origin: 50% 154%;
 -webkit-animation: swingingRight 3.5s ease-in-out forwards infinite;
 animation: swingingRight 3.5s ease-in-out forwards infinite;

}
