/*div.seatSpot {
  display: inline;
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  margin: 1%;
}*/

/*div.seatNot {
  display: inline;
  float: left;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  margin: 1%;
}*/

/*
div.seatSpotOne {
  margin-left: 25%;
}*/

/*div.seatStage {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}*/

/** {
  border: 1px solid black;
}*/


body {
  background-color: black;
}

div.header {
  position: relative;
  left: 25%;
}

.stage {
  position: relative;
  top: 30px;
  left: 29%;
}

.seatStage {
  position: relative;
  top: 40px;
}

div.seatSpotBs {
  margin: 1%;
  width: 50px;
  height: 50px;
}

div.spacer {
  height: 50px;
}

div#rowA {
  position: relative;
  left: 36%;
}

div#rowB {
  position: relative;
  left: 33%;
}

div#rowC {
  position: relative;
  left: 30%;
}

div#rowD {
  position: relative;
  left: 21%;
}

span.copyRight {
  float: right;
  margin-right: 5%;
}

span.contactSpan {
  color: white;
  margin-left: 5%;
  margin-right: 1%;
}

span.contactSpan:hover {
  text-decoration: underline;
}

span.glyphicon {
  margin-left: 1%;
  color: white;
}
span.glyphicon:hover {
  background-color: blue;
}

div.infoForm {
  position: fixed;
  top: 10%;
  left: 5%;
  width: auto;
  border: 1px solid grey;
}

form input {
  display: block;
  float: left;
  clear: left;
}

div.mainImg {
  /*margin-top: 50px;*/
  width: 100%;
  height: 100%;
}
